
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/head_foot.cshtml";
}


<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Food Menu</h1>
    
    </div>
</div>


<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <i class="fa fa-coffee fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Popular</small>
                            <h6 class="mt-n1 mb-0">Breakfast</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <i class="fa fa-hamburger fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Special</small>
                            <h6 class="mt-n1 mb-0">Launch</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="fa fa-utensils fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Lovely</small>
                            <h6 class="mt-n1 mb-0">Dinner</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Idli.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Idli</span>
                                        <span class="text-primary">Rs.120</span>
                                    </h5>
                                    <small class="fst-italic">"Steamed rice cakes (idli) served with coconut chutney."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Kala_Chana_Salad.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Kala chana salaad </span>
                                        <span class="text-primary">Rs.70</span>
                                    </h5>
                                    <small class="fst-italic">"Kala chana salad: Black chickpeas with fresh veggies and zesty spices."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Matar_Pulao.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Matar pulao</span>
                                        <span class="text-primary">Rs.215</span>
                                    </h5>
                                    <small class="fst-italic">"Matar pulao: Fragrant basmati rice cooked with peas and aromatic spices."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/oats _dosa.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Oats Dosa</span>
                                        <span class="text-primary">Rs.50</span>
                                    </h5>
                                    <small class="fst-italic">"Oats dosa: Crispy crepe made from oats and rice flour, a healthy twist on the traditional Indian dosa."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Parantha.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Paratha</span>
                                        <span class="text-primary">Rs.110</span>
                                    </h5>
                                    <small class="fst-italic">"Paratha: Flaky, buttery flatbread, perfect for savoring with your favorite curry or chutney."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Poha.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Poha</span>
                                        <span class="text-primary">Rs.120</span>
                                    </h5>
                                    <small class="fst-italic">"Poha: Light and fluffy flattened rice delicately spiced with turmeric, mustard seeds, and curry leaves, a classic Indian breakfast dish."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Sabudana_Upma.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Sabudana Upma</span>
                                        <span class="text-primary">Rs.80</span>
                                    </h5>
                                    <small class="fst-italic">"Sabudana Upma: Tapioca pearls sautéed with peanuts, potatoes, and spices, a popular gluten-free breakfast or snack."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Sandwich.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Sandwich</span>
                                        <span class="text-primary">Rs.215</span>
                                    </h5>
                                    <small class="fst-italic">"Sandwich: A delicious combination of bread slices filled with various ingredients such as vegetables, meats, and cheeses, perfect for a quick and satisfying meal."</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Diwali_Thali.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Diwali Thali</span>
                                        <span class="text-primary">Rs.230</span>
                                    </h5>
                                    <small class="fst-italic">"Diwali Thali: Festive platter with assorted Indian dishes and sweets."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Easy_rice_&_beans.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Easy Rice & Beans.</span>
                                        <span class="text-primary">Rs.250</span>
                                    </h5>
                                    <small class="fst-italic">"Easy Rice & Beans: Simple yet flavorful dish made with rice and beans, seasoned with herbs and spices for a satisfying meal."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Happy_Diwali!! - Blend_with_Spices.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Happy Diwali!! - Blend with Spices</span>
                                        <span class="text-primary">Rs.130</span>
                                    </h5>
                                    <small class="fst-italic">"Happy Diwali!! - Blend with Spices: A festive greeting accompanied by a blend of aromatic spices, symbolizing the joy and warmth of the Diwali celebration."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Hyderabadi_Dum_Chicken_Biryani.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Hyderabadi Dum Chicken Biryani</span>
                                        <span class="text-primary">Rs.520</span>
                                    </h5>
                                    <small class="fst-italic">"Hyderabadi Dum Chicken Biryani: Succulent chicken marinated in spices, layered with fragrant basmati rice, and slow-cooked to perfection, an exquisite dish from Hyderabad."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Hyderabadi_Mutton_Biryani.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Hyderabadi Mutton Biryani</span>
                                        <span class="text-primary">Rs.350</span>
                                    </h5>
                                    <small class="fst-italic">"Hyderabadi Mutton Biryani: Aromatic rice dish cooked with tender mutton pieces, fragrant spices, and saffron, a classic delicacy from Hyderabad."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Hyderabadi_Veg_Biryani.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Hyderabadi Veg Biryani</span>
                                        <span class="text-primary">Rs.250</span>
                                    </h5>
                                    <small class="fst-italic">"Hyderabadi Veg Biryani: Fragrant basmati rice cooked with assorted vegetables and aromatic spices, a flavorful vegetarian version of the classic Hyderabadi biryani."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Indian_Veg_Thali.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Indian Veg Thali</span>
                                        <span class="text-primary">Rs.150</span>
                                    </h5>
                                    <small class="fst-italic">"Indian Veg Thali: A wholesome platter featuring a variety of vegetarian dishes such as dal, sabzi, rice, roti, papad, and dessert, offering a complete Indian dining experience."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Peas_Vegan_Chili.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Peas Vegan Chili</span>
                                        <span class="text-primary">Rs.180</span>
                                    </h5>
                                    <small class="fst-italic">"Peas Vegan Chili: Flavorful chili made with peas, beans, tomatoes, and spices, a hearty and nutritious plant-based meal option."</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Chicken_Kathi_Roll.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Chicken Kathi Roll</span>
                                        <span class="text-primary">Rs.180</span>
                                    </h5>
                                    <small class="fst-italic">"Chicken Kathi Roll: Grilled chicken wrapped in a soft paratha with onions, peppers, and chutney, a popular Indian street food."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Green_Peas_Curry.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Green Peas</span>
                                        <span class="text-primary">Rs.115</span>
                                    </h5>
                                    <small class="fst-italic">"Green Peas: Tender and sweet peas, a versatile ingredient used in various cuisines for soups, salads, curries, and side dishes."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Grilled_Tandoori_Chicken.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Grilled Tandoori Chicken</span>
                                        <span class="text-primary">Rs.220</span>
                                    </h5>
                                    <small class="fst-italic">"Grilled Tandoori Chicken: Succulent chicken marinated in yogurt and spices, grilled to perfection in a traditional tandoor oven, bursting with smoky and spicy flavors."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Indian_vegetarian_Thali.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Indian Vegetarian Thali</span>
                                        <span class="text-primary">Rs115</span>
                                    </h5>
                                    <small class="fst-italic">"Indian Vegetarian Thali: A colorful assortment of vegetarian dishes including dal, sabzi, rice, roti, pickle, and dessert, offering a delightful culinary journey through India's diverse vegetarian cuisine."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/North_Indian_Thali.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>North Indian Thali</span>
                                        <span class="text-primary">Rs100</span>
                                    </h5>
                                    <small class="fst-italic">"North Indian Thali: A flavorful spread of dishes representing the diverse culinary traditions of North India, featuring staples like dal, paneer, vegetable curry, rice, roti, and dessert."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Shahi_Daal.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Shahi Daal</span>
                                        <span class="text-primary">Rs.85</span>
                                    </h5>
                                    <small class="fst-italic">"Shahi Daal: Creamy lentil dish cooked with aromatic spices, cream, and butter, a royal and indulgent delicacy in Indian cuisine."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Tandoori_Chicken.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Tandoori Chicken</span>
                                        <span class="text-primary">Rs.200</span>
                                    </h5>
                                    <small class="fst-italic">"Tandoori Chicken: Juicy chicken marinated in yogurt and spices, cooked to perfection in a traditional tandoor oven, offering a smoky and flavorful taste."</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="~/theme/img/Tandoori_Fish.jpeg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Tandoori Fish</span>
                                        <span class="text-primary">Rs.115</span>
                                    </h5>
                                    <small class="fst-italic">"Tandoori Fish: Fresh fish marinated in a blend of yogurt, spices, and herbs, cooked in a tandoor oven to perfection, offering a succulent and aromatic seafood dish."</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
